/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Light'), local('Lato-Light'), url('http://zhangwenli.com/blog/font/lato400.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url('http://zhangwenli.com/blog/font/lato900.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url('http://zhangwenli.com/blog/font/lato400i.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('http://zhangwenli.com/blog/font/lato900i.woff') format('woff');
}
#pp-nav li .active span,
.pp-slidesNav .active span {
    background: #ffffff;
}

body{
    font-family: Lato,"Microsoft YaHei",sans-serif;
    height: 100%;
    background: #333;
}
/* Centered texts in each section
	* --------------------------------------- */
.section{
    text-align:center;
}
#loading{
    background-size: cover;
    background-color: #1ABC9C;
    padding: 0 0 0 0;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
#section1,
#section2
{
    background-size: cover;
}

/* Defining each section background and styles
* --------------------------------------- */
#section1{
    background-color: #1ABC9C;
    padding: 0 0 0 0;
}
.content-obj{
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: #12e8bc; /* in case the video doesn't fit the whole page*/

    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
}
#section2{

    padding: 0 0 0 0;

}

#logo-box{
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 138px;
}
#logo{

    height: 242px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url("../img/logo-green.png") no-repeat center ;
}
#section1 h1{

    text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;
    text-align: center;
    font-size: 138px;
    color: #eef3f0;

}
#section1 h2{


    text-align: center;
    font-size: 28px;
    color: #eef3f0;

}

#section2 .intro{
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 20%;
}
#bg-landscape{
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/

    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    visibility: visible;
}
#bg-portrait{
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/

    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    visibility: hidden;
}
#left{
    position: fixed;
    left: 19%;
    width: 10%;
}
#right{
    position: fixed;
    right: 19%;
    width: 10%;
}
#right a{
    position: absolute;
    left:-50%
}

#section2 a{

    font-size: 50px;
    color: #eef3f0;
}
#left a{
    text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;
}
#right a{
    text-shadow: 1px 2px #7248c3,2px 4px #bda9e2;
}
#section2 a:hover{
    text-shadow: 1px 2px #eef3f0,2px 4px #eef3f0;
}
#left a:active{
    color: #12e8bc;
}
#right a:active{
    color: #a03fcc;
}

.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.pt-page-current{
    visibility: visible;
    z-index: 1;
}
.pt-page-scaleDown {
    -webkit-animation: scaleDown .7s ease both;
    -moz-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
}
.pt-page-scaleUpDown {
    -webkit-animation: scaleUpDown .5s ease both;
    -moz-animation: scaleUpDown .5s ease both;
    animation: scaleUpDown .5s ease both;
}
.pt-page-delay300 {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    animation-delay: .3s;
}
@-webkit-keyframes scaleDown {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
    to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); }
}
@-moz-keyframes scaleUpDown {
    from { opacity: 0; -moz-transform: scale(1.2); }
}
@keyframes scaleUpDown {
    from { opacity: 0; transform: scale(1.2); }
}

#wrap {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    overflow: hidden;}
#wrap canvas {
    position: absolute;
    left: 50%; top: 50%;
    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media (orientation: portrait ){
    #section2 .intro{
        z-index: 5;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #left{
        position: fixed;
        top:69%;
        left: 19%;
        width: 10%;
    }
    #right{
        position: fixed;
        left: 19%;
        width: 10%;
    }
    #right a{
        position: absolute;
        left:0;
    }
    #bg-landscape{
        visibility: visible;
    }
    #bg-portrait{
        visibility: visible;
    }
    .content-obj{
        position: absolute;
        z-index: 4;
        right: 0;
        bottom: 0;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: #34495e; /* in case the video doesn't fit the whole page*/

        background-position: center center;
        background-size: contain;
        object-fit: contain; /*cover video background */
    }

}
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
/*mobile*/
@media screen and (max-device-width: 600px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

}

    @media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {

        /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
